<a href="https://colab.research.google.com/github/rhodes-byu/cs-stat-180/blob/main/notebooks/03b-pandas-aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a><p><b>After clicking the "Open in Colab" link, copy the notebook to your own Google Drive before getting started, or it will not save your work</b></p>

In [ ]:
# Import Pandas library
import pandas as pd
import numpy as np

In [ ]:
## Iris data
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
iris = pd.read_csv(url, names=['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class'])

In [ ]:
iris.head()

In [ ]:
iris.rename(columns={'class': 'species'}, inplace=True)

## Using Apply

In [ ]:
iris['sepal_length'].apply(np.log)

In [ ]:
# What happened?
iris['sepal_length'].apply(np.mean)

In [ ]:
iris.iloc[:, 0:4].apply(np.mean)

In [ ]:
iris['species'].apply(lambda x: x.title())

In [ ]:
iris['species'].str.lower()

In [ ]:
def zero_one_scale(x):
    return (x - np.min(x)) / (np.max(x)- np.min(x))

In [ ]:
## Why does this not work?
iris['sepal_length'].apply(zero_one_scale)

In [ ]:
## Why does this not work?
iris['petal_length'].apply(lambda x: zero_one_scale(x))

In [ ]:
zero_one_scale(iris.petal_length)

## Groupby, Aggregation

### Use Titanic data example here

In [ ]:
## Titanic data
# from sklearn.datasets import fetch_openml
# dat = fetch_openml(data_id=40945, parser = 'auto')
# titanic = dat.frame

titanic = pd.read_csv('https://raw.githubusercontent.com/rhodes-byu/cs-stat-180/refs/heads/main/data/titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.drop('name', axis = 1, inplace = True)

In [ ]:
# Average age by sex
age_by_sex = titanic.groupby('sex')['age'].mean()

# Display the aggregated data
print("Age By Sex:\n", age_by_sex)

In [ ]:
# Multiple Grouping Categories
titanic.groupby(['sex', 'pclass'])['age'].mean()

In [ ]:
# Multiple Target Variables
titanic.groupby(['sex'])[['age', 'fare']].mean()

In [ ]:
# Multiple Aggregations
titanic.groupby('sex')['age'].agg(['mean', 'max', 'min', 'sum']).round()

In [ ]:
# Define a custom aggregation function
def range(series):
    return series.max() - series.min()

titanic.groupby('sex')['fare'].agg(range)

In [ ]:
# Group data by 'Region' and apply named aggregations to multiple columns
region_summary = titanic.groupby('home.dest').agg(
    total_fare=('fare', 'sum'),
    agerage_fare=('fare', 'mean'),
    average_age=('age', 'mean')
)

# Display the summary for each region
print("Region-wise Summary:\n", region_summary)

### Mini exercises — Iris dataset (8–10 min)
1. Show the **shape** of the frame and the **unique classes**.
2. Compute the **mean petal length** by class.
3. Filter rows where `sepal_length > 6.0` and `petal_width < 1.5`.
4. Create a quick scatter plot of `sepal_length` vs `sepal_width`.

<details>
<summary>Hints</summary>

- Use `.shape`, `.unique()`, and `groupby('class')`.
- For filtering, combine conditions with `&` and wrap each in parentheses.
- For plotting, try `df.plot.scatter(x='sepal_length', y='sepal_width')`.
</details>

In [ ]:
# TODO: Your turn — Iris dataset mini exercises

# 1) Shape and unique classes

# 2) Mean petal length by class

# 3) Filtered subset

# 4) Quick scatter plot (may show inline depending on environment)

In [ ]:
#----------------------------------------------------------------------#

### Combining DataFrames

In [ ]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']})

df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
                    'B': ['B3', 'B4', 'B5']})

In [ ]:
df1

In [ ]:
df2

In [ ]:
# Concatenate DataFrames vertically
result = pd.concat([df1, df2], axis=0)

# Display the concatenated DataFrame
print("Concatenated DataFrame:\n", result)

In [ ]:
# Create two DataFrames with a common column 'key'
left = pd.DataFrame({'key': ['A', 'B', 'C'],
                     'value_left': [1, 2, 3]})

right = pd.DataFrame({'key': ['B', 'C', 'D'],
                      'value_right': [4, 5, 6]})

In [ ]:
left

In [ ]:
right

In [ ]:
# Merge DataFrames based on the 'key' column
merged_inner = pd.merge(left, right, on='key', how='inner')

# Display the merged DataFrame
print("Inner Merge:\n", merged_inner)

In [ ]:
merged_outer = pd.merge(left, right, on='key', how='outer')
print("Outer Merge:\n", merged_outer)

In [ ]:
# Create a DataFrame with wide-format data
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Math_Score': [90, 85, 78],
        'Science_Score': [88, 92, 80]}

df = pd.DataFrame(data)

print(df)

### Reshaping DataFrames

In [ ]:
# Melt the DataFrame to long-format
melted_df = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Score')

# Display the melted DataFrame
print("Melted DataFrame:\n", melted_df)

In [ ]:

# Define a mapping function to assign letter grades
def assign_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    else:
        return 'F'

# Apply the mapping function to create a new column 'Grade'
melted_df['Grade'] = melted_df['Score'].map(assign_grade)

# Display the DataFrame with letter grades
print(melted_df)

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Scott', 'Liz'],
        'Age': [28, 45, 60, 34, 50, 40]}

df = pd.DataFrame(data)

# Define bin edges and labels for age groups
bin_edges = [0, 30, 40, 50, 100]
bin_labels = ['0-30', '31-40', '41-50', '51+']

# Use the `cut` function to create a new column 'AgeGroup'
df['AgeGroup'] = pd.cut(df['Age'], bins=bin_edges, labels=bin_labels)

# Display the DataFrame with age groups
print(df)

## Getting multiple pieces of information from a single column

### Unpacking

Many times, a single column will contain multiple pieces of information.  Learning how to extract this information is extremely important and is a great skill to have.

If it is possibe to somehow separate or split the elements in the column, this is a much easier and more effecive way of extracting information than simply extracting info based on slicing.

For example, suppose we have a list of cities with the state.  We want to separate the city and the state into individual columns.

In [ ]:
cities = pd.Series(['Provo, Utah', 'Omaha, Nebraska', 'Fremont, Ohio','Green River, Wyoming', 'Durham, North Carolina' ])
cities

In [ ]:
for name in cities:
    print(name)

This looks like a hard problem because there are different lengths for each city and state name.  Some of the city names and state names even have spaces.  We recognize that there is a common format.  The city names are all separated from the state name by a comma.  We can use the string method ``.split("character")`` to separate the words in a string based on ``"character"``.  

By default, ``.split()`` will separate on spaces.

In [ ]:
s = 'Provo, Utah'
s.split()

In [ ]:
s.split(",")

In [ ]:
cities.apply(lambda x: x.split(","))

Or we could use  ``.str`` with ``.split``

In [ ]:
cities.str.split(",")

Now we have a list of lists.  Next we need the get the information out.  We know that our Series had only one comma and when we split on the comma (using ``.split(",")``) everything before the comma is the first item in the list and everything after the comma is the second item in the list.  
In our example, the first item is the city name and the second item is the state name.

Here are a couple of ways to extract the data that was split.

**First using a ``for`` loop:**

Notice that the state variable has white space, so we can strip that inside our for loop:

In [ ]:
# for loop
cities_split = cities.str.split(",")

state = []
city = []
for item in cities_split:
    city.append(item[0].strip())
    state.append(item[1].strip())

In [ ]:
cities_split

In [ ]:
state

In [ ]:
city

**Second using ``.apply`` and ``lambda`` functions:**

In [ ]:
# apply with lambda function
city = cities_split.apply(lambda x:x[0].strip())
state = cities_split.apply(lambda x:x[1].strip())

In [ ]:
state

In [ ]:
city

**Another Example**

Here, suppose I have times in the format ``hour:minute:second``.  I want to make a variable that combines these into just one time.  Since the lowest resolution is seconds, I will make a variable for "seconds".

In [ ]:
times = pd.Series(['01:34:07','00:35:12','00:00:16','03:59:00'])

In [ ]:
time_list = times.str.split(":")
time_list

In [ ]:
seconds = []
for time in time_list:
    temp = int(time[0])*60*60 + int(time[1])*60 + int(time[2])
    seconds.append(temp)

In [ ]:
seconds